:root {
    --primary-bg-color: black;
    --secondary-bg-color: #f4f4f4;
    --text-color: white;
    --accent-color: #f4f4f4;
    --button-bg-color: black;
    --button-text-color: white;
    --highlight-color: #f4f4f4;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: linear-gradient(to right, #00000095, #434343); 
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: linear-gradient(to right, #00000095, #434343); 
}
